<p id="notice"><%= notice %></p>
<p>
  <strong>First name:</strong>
  <%= @employee.first_name %>
</p>
<p>
  <strong>Last name:</strong>
  <%= @employee.last_name %>
</p>
<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>
<p>
  <strong>Salary:</strong>
  <%= number_to_currency(@employee.salary) %>
</p>
<p>
  <strong>Federal Tax:</strong>
  <%= number_to_currency(@federal_tax) %>
</p>
<p>
  <strong>Provincial Tax:</strong>
  <%= number_to_currency(@provincial_tax) %>
</p>
<p>
  <strong>After Tax Salary:</strong>
  <%= number_to_currency(@after_tax_salary) %>
</p>
<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
